.tab{
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 2;
}

.chosen{
    border: 1px solid #6d6d6d;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 3px 3px 0 0;
}

.tab-content{
    width: 300px;
    height: 120px;
    border: 1px solid #6d6d6d;
    position: relative;
    top: -1px;
    padding: 10px;
    border-radius: 0 3px;

    z-index: 1;
}

.hide{
    display: none;
}

.show{
    display: block;
}